@import url("https://fonts.googleapis.com/css2?family=Lato+Web:wght@400;700&display=swap");
body.cadastro{
	background-image: url(20230405_122105.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;

}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

:root {
	--mainColor: #100122;
	--mainColorLight: #1B003C;
	--secondaryColor: #db2b39;
	--textColor: #eee;

}
h3{
font-size: 31px;
margin: 0 5rem;

}

.btncad{

	width: 250px;
	height: 52px;
	border-radius: 15px;
	background: linear-gradient(270deg,#ce03ff,#667de1);
	color: #eee;
	border: #100122;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	cursor: pointer;
	margin-top: 50px;


	
}



.btncad:hover{
	background: linear-gradient(200deg,#cc00ff,#8299fc);
	transition: 0.1s;
}
p{
	color: #eee;
	font-size: 25px;
}

#nome,#username,#email,#senha,#senha2{
    width: 450px;
    height: 60px;
    margin-top: 25px;
	border-radius: 10px;
    outline: none;
	border: 0;
	font-size: 30px;    
	padding: 10px;
}

	
 h1, form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
	font-size: 45px;
}


.inputs{
margin-top:50px;	
}
#email{
	width: 1000px;

}



p{
	display: flex;
	flex-direction: column;
}

.row1{
	
}
.row2{
	margin-left: 100px;
}

.row2,.row1{
	margin-bottom: 25px;

}
.row4{
	margin-top: 40px;
}

.row3{

	margin-top: 10px;
}
.row-pai{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 1000px;
}

.row-pai2{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.row5{
	margin-left: 100px;
	margin-top: 40px;
}



nav{
	margin-right: 45px;
}

.other-link{
font-size: 25px;
margin-top:50px;
display: flex;
flex-direction: row;
margin-left: 360px;

}

.cadastron{
margin-top: 100px;
	color: #ffffff;

}
.cadastron2{
	color: #ffffff;
	font-size: 25px;
	}




@media only screen and (max-width: 1001px) {

	body.cadastro{
		background-image: url(20230405_122105.gif);
		background-repeat: no-repeat;
		background-size:cover;
		background-attachment: fixed;
	
	}
	.other-link{
		margin-left: 140px;
		
	}
	.pai header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color:rgba(0, 0, 0, 0.9);
		transition: 1s;
	}
	#email{
		width: 450px;
	}
	.row4{
		margin-left: 45px;
		margin-top: 30px;
		}
	.inputs,h1, form{
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		font-size: 45px;
	}
	.inputs{
		width: 300px;

	}
	.row-pai{
		display: flex;
		flex-direction: column;
		align-items: center;
		
		width: 600px;
	}
	.row5{
		margin-top: 30px;
		margin-left: 50px;
	}
	.row2{
		margin-right: 100px;
	}
	
	input{
		width: 450px;

	}
	.row-pai2{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: -15px;
	}



	.pai{
		justify-content: space-between;

	}

	.btncad{
		margin-left: 50px;
	}
	.cadastrar{
		width: 350px;
		height: 59px;
		border-radius: 22px;
		background: linear-gradient(270deg,#ce03ff,#667de1);
		color: #eee;
		border: #100122;
		font-family: 'Lato', sans-serif;
		font-size: 25px;
		cursor: pointer;
		margin-top: 75px;
		
		}
		
		
}

@media only screen and (max-width: 606px) {

	
	
	#email{
		width: 450px;
	}
	.row4{
		margin-left: 45px;
		margin-top: 30px;
		}
	.inputs,h1, form{
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		font-size: 45px;
	}
	.inputs{
		width: 300px;

	}
	.row-pai{
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}
	
	.row5{
		margin-top: 30px;
		margin-left: 50px;
		
	}
	.row2{
		margin-right: 100px;
	}
	
	input{
		width: 450px;

	}
	.row-pai2{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: -15px;
	}
	



	.pai{
		justify-content: space-between;

	}

	.btncad{
		margin-left: 50px;
	}
	.cadastrar{
		width: 350px;
		height: 59px;
		border-radius: 22px;
		background: linear-gradient(270deg,#ce03ff,#667de1);
		color: #eee;
		border: #100122;
		font-family: 'Lato', sans-serif;
		font-size: 25px;
		cursor: pointer;
		margin-top: 75px;
		
		}
		
		
		
}