@import url("https://fonts.googleapis.com/css2?family=Lato+Web:wght@400;700&display=swap");

  
  *::-webkit-scrollbar {
	width: 5px;
	height: 2px;
  }
  
  *::-webkit-scrollbar-track {
	background: #ffffff;
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	border-radius: 10px;
	border: 3px solid #111111;
  }
body.login{
	background-image: url(20230405_122105.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;

}
.invisss{
opacity: 0;
}
.coisa-coisada-c{
	height: 210px;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

:root {
	--mainColor: #100122;
	--mainColorLight: #1B003C;
	--secondaryColor: #db2b39;
	--textColor: #eee;

}
h3{
font-size: 31px;
margin: 0 5rem;

}
.btncad-login{

	width: 250px;
	height: 52px;
	border-radius: 15px;
	background: linear-gradient(270deg,#ce03ff,#667de1);
	color: #eee;
	border: #100122;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	cursor: pointer;
	margin-top: 50px;
	margin-bottom: 50px;

}
.btncad-login:hover{
	background: linear-gradient(200deg,#cc00ff,#8299fc);
	transition: 0.1s;
}
p{
	color: #eee;
	font-size: 25px;
}

#emaill,#senhaa{
    width: 450px;
    height: 60px;
    margin-top: 25px;
	border-radius: 10px;
    outline: none;
	border: 0;
	font-size: 30px;    
	padding-left: 10px;

}

	
 h1, form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
	font-size: 45px;
}

.pai-login{
display: flex;
flex-direction: column;
gap: 65px;
}

#emaill{
	width: 600px;
}
#senhaa{
	width: 600px;
}

.other-link2{
	font-size: 19px;
	margin-top: 15px;
	margin-left:440px ;
}

p{
	display: flex;
	flex-direction: column;
}

.deco-login{
	text-decoration: none;
}




.Login{
color: #ffffff;
margin-bottom: 37px;
margin-top: 100px;
}
.cadastron2{
	color: #ffffff;
	font-size: 25px;
	}
	
.pai .nav-btn {
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;

}
.pai header div,
nav {
	display: flex;
	align-items: center;
	
}


@media only screen and (max-width: 1001px) {
	.pai .nav-btn {
		visibility: visible;
		opacity: 1;
		position: absolute;
		margin-top: -49px;
		margin-left: 25px;
	}
	body.login{
		background-image: url(20230405_122105.gif);
		background-repeat: no-repeat;
		background-size:cover;
		background-attachment: fixed;
	
	}
	
	#email{
		width: 450px;
	}
	.row4{
		margin-left: 45px;
	}
	.inputs,h1, form{
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		font-size: 45px;
	}
	.inputs{
		width: 300px;

	}
	
	.other-link2{
		font-size: 20px;
		margin-top: 15px;
		margin-left:10px ;
	}
	.row-pai{
		display: flex;
		flex-direction: column;
		align-items: center;
		
		width: 600px;
	}
	.row5{
		margin-top: 30px;
		margin-left: 50px;
	}
	
	
	input{
		width: 450px;

	}
	.row-pai2{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: -15px;
	}

	

	.pai{
		justify-content: space-between;

	}

	.pai header .responsive_nav {
		transform: translateY(100vh);
	}



	


	.cadastrar{
		width: 350px;
		height: 59px;
		border-radius: 22px;
		background: linear-gradient(270deg,#ce03ff,#667de1);
		color: #eee;
		border: #100122;
		font-family: 'Lato', sans-serif;
		font-size: 25px;
		cursor: pointer;
		margin-top: 75px;
		
		}

		
		.other-link2{
			font-size: 20px;
			margin-top: 15px;
			margin-left:430px;
			
		}
		
}
@media only screen and (max-width: 610px) {
	.pai-login {
	width: 400px;
	}
	#emaill{
		width: 400px;
	}
	#senhaa{
		width: 400px;
	}
	.other-link2{
			font-size: 20px;
			margin-top: 15px;
			margin-left:230px ;
		}
}