* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

:root {
	--mainColor: #100122;
	--mainColorLight: #1B003C;
	--secondaryColor: #db2b39;
	--textColor: #eee;

}
h3{
font-size: 31px;
margin: 0 5rem;

}
.logoimg{
cursor: pointer;
margin-bottom: 0px;
width: 140px;
height: 45px;
margin-left: 10px;

}


.pai header {
	position: fixed;
	display: flex;
	align-items: center;
	width: 100vw;
	height: 73px;
    background-color: rgba(5, 5, 5, 0.973);

	color: var(--textColor);
	box-shadow: 0px 20px 50px 20px rgba(0, 0, 0, 0.5);
	
	justify-content: space-between;
	
}

nav{
	margin-right: 45px;
}



nav a {
	margin: 0 1.1rem;
	color: var(--textColor);
	text-decoration: none;
	font-size: 20px;
	margin-top: 2px;
}
.pai .nav-btn {
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;

}
.pai header div,
nav {
	display: flex;
	align-items: center;
	
}
.cadastrar{
width: 100px;
height: 42px;
border-radius: 15px;
background: linear-gradient(270deg,#ce03ff,#667de1);
color: #eee;
border: #100122;
font-family: 'Lato', sans-serif;
font-size: 17px;
cursor: pointer;
transition: 1s;


}
.cadastrar:hover{
	
	background: linear-gradient(200deg,#ce03ff,#667de1);
	transition: 0.1s;
	}
	

@media only screen and (max-width: 1001px) {
	.logoimg{
		cursor: pointer;
		margin-left: 40px;
		}
	.pai header {
		position: initial;
		display: flex;
		align-items: center;
		width: 100vw;
		height: 73px;
		background-color: var(--mainColor);
		color: var(--textColor);
		box-shadow: 0px 20px 50px 20px rgba(0, 0, 0, 0.5);
		justify-content: space-between;
		
	} 
	.pai .nav-btn {
		visibility: visible;
		opacity: 1;
		position: absolute;
		margin-top: -49px;
		margin-left: 25px;
	}


	.pai header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color:rgba(0, 0, 0, 0.9);
		transition: 1s;
	}

	.pai{
		justify-content: space-between;

	}

	.pai header .responsive_nav {
		transform: translateY(100vh);
	}



	nav a {
		font-size: 2.5rem;
		margin: 10px 10px 75px 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	
	}

	nav .login{
		top: 100vh;
		margin: 0px 0px 0px 0px;

	}

	.cadastrar{
		width: 350px;
		height: 59px;
		border-radius: 22px;
		background: linear-gradient(270deg,#ce03ff,#667de1);
		color: #eee;
		border: #100122;
		font-family: 'Lato', sans-serif;
		font-size: 25px;
		cursor: pointer;
		margin-top: 75px;
		
		}
	
			
} 